@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #26547b;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 95vh;
}

.calculator {
    width: 406px;
    height: 362px;
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    background-color: #ef4770;
    box-shadow: 0px 6px 1px #eb174c;
    border-radius: 10px;
}

p {
    width: 80px;
    height: 50px;
    font-size: 20px;
    color: rgb(120, 102, 2);
    text-align: center;
    padding-top: 14px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.secondRow {
    display: flex;
    flex-direction: row;
}

.first {
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: space-between;
}

.yellowButton {
    box-shadow: 0px 4px 1px #fffd0a;
    background-color: #fed268;
}

.longP {
    width: 290px;
    box-shadow: 0px -5px 1px #1a1f2a;
    background-color: #26547b;
    color: white;
    text-align: end;
    padding-right: 12px;
    font-size: 30px;
    padding-top: 5px;
}

.second {
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
}
.third {
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
}
.four {
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
}

.blueButton {
    box-shadow: 0px 5px 1px #1a1f2a;
    background-color: #26547b;
    color: white;
    font-weight: 600;
}

.skyButton {
    box-shadow: 0px 4px 1px #018e67;
    background-color: #06d8a1;
    color: rgb(145, 143, 143);
    font-weight: 600;
    font-size: 25px;
}

.five {
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
    font-size: 31px;
}


